<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  <title>REGISTER</title>
</head>

<body>

    <body>
        <form action="/users/register" method='post'>
            <div>
                <input type="text" name='username' placeholder="Enter username">     
            </div>
            <div><input type="password" name='password' placeholder="Enter password"></div>
            <div> <input type="text" name='first_name' placeholder="Enter first Name"></div>
            <div><input type="text" name='last_name' placeholder="Enter last name"></div>
            <div><input type="email" name='email' placeholder="Enter email"></div>
            <div><button type="submit">Register</button></div>
            <div><a href="/auth/login">Already have an account?</a></div>
  
            
            
        </form>
    </body>
</body>

</html>